@use "./global.scss" as *;
.about {
  width: 100vw;

  overflow: hidden;
  margin: $section-margin;

  h1 {
    @include page-heading;
    margin-left: 20%;
  }

  &_technical {
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    .image {
      width: 25rem; // height: 100%;
      img {
        border-radius: 2rem;
        width: 90%;
        height: 90%;
        animation: fadeIn 2s;
      }
    }
    & .details {
      width: 30rem;
      display: flex;
      flex-direction: column;
      color: rgb(255, 255, 243);
      gap: 2rem;
      position: relative; //for ::after

      h2 {
        font-size: 32px !important;
        margin: 0;
        animation: fadeIn 1s;
        font-family: "Poppins-bold";
      }
      p {
        margin: 0;
        font-size: 24px;
        animation: slideToTop 1s;
      }
    }
  }

  &_extra-curriculur {
    opacity: 0;
    margin: 6rem auto;
    width: 75%;
    letter-spacing: 0.2px;
    color: cadetblue;
    position: relative;

    &::before {
      content: "";
      height: 2px;
      width: 50%;
      left: 25%;
      top: -4rem;
      background: white;
      position: absolute;
      // top: 0;
    }

    p {
      margin: 4rem;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    h1 {
      text-align: center;
      margin-left: 0% !important;
    }
    &_technical {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      // align-items: start;
      // text-align: center;
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          margin: 0 auto;
          width: 100%;
        }
      }

      .details {
        width: 90%;
        letter-spacing: 0;
        text-align: center;

        h2 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    &_extra-curriculur {
      width: 100%;
      text-align: center;
      p {
        // text-align: center;
        margin: 2rem 1rem;
        font-size: 16px;
      }
    }
  }
}
