@use "./global.scss" as *;
.about-container {
  width: 100vw;
  .about {
    margin: 8rem auto;
    display: grid;
    grid-template-columns: auto;

    align-items: center;
    justify-content: center;
    animation: fadeIn 2s;

    &-text {
      width: min-content; //not including will expand para below about and
      .about-heading {
        letter-spacing: 5px;
        color: rgb(239 176 176);
        font-size: 40px;
        font-family: "Sigmar";
        animation: adjustSpacing 1.25s, slideToRight 1.5s;
        text-align: left;
      }
      .about-para {
        margin: 1rem 0;
        width: 85%;
        color: rgb(182, 205, 204);
        font-family: "Caveat";
        font-size: 20px;
        font-weight: 800;
        text-align: right;
        animation: slideToTop 2s;
        // display: none;
      }

      & .academics {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        gap: 20%;
        font-family: monospace;

        & .education {
          animation: slideToLeft 2s;
        }
        .skills {
          animation: slideToRight 2s;
        }

        & > div {
          //targets education and skills div
          // border: 0.5px solid gray;
          padding: 1rem;
          border-radius: 2rem;
          width: 25rem;
          // box-shadow: 0px 0.2px 5px wheat;
          h1 {
            margin: 0;
            padding: 0;
            text-align: left;
            color: whitesmoke;
            font-size: 20px;
            font-family: "Caveat";
          }
          p {
            margin-left: 4px;
          }
          span {
            display: block;
            color: white;
            margin-bottom: 2px;
            // animation: slideToLeft 2s;
          }
        }
      }

      .resume {
        font-size: 15px;
        color: rgb(255, 255, 255);
        animation: adjustSpacingSmall 5s;
        letter-spacing: 1px;
        a {
          color: goldenrod;
        }
      }
    }
    .extra {
      opacity: 0;
    }
    .visible {
      animation: fadeIn 3s forwards;
    }
    .other-than-work {
      color: white;
      padding: 0;
      margin: 0;
      margin: 6rem 1rem 1rem 0;
      text-align: right;
      font-family: "Caveat";
      font-weight: 300;
      // animation: bigToSmall 2s;
    }
    &-images {
      overflow: hidden;
      display: flex;
      gap: 1rem;
      // animation: slideToTop 2s;
      img {
        width: 10rem;
        height: 9rem;
        border-radius: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin: 5rem auto !important;
    // padding-top: 3rem;
    width: 90%;
    margin: 0 auto;

    &-text {
      width: initial !important;
    }

    &-para {
      margin: 0 auto;
      width: 90%;
    }
    .academics {
      margin: 0;
      // grid-template-columns: auto !important;
      gap: 1.5rem !important;
      justify-content: center;

      & > div {
        // border: 1px solid gray;
        padding: 0.5rem;
        border-radius: 1rem;
        width: 80% !important;
        // box-shadow: 0px 0.1px 3px wheat;
      }
    }
    .resume {
      animation: none !important;
    }
    &-images {
      flex-direction: column;
      img {
        margin: 0 auto;
      }
    }

    .other-than-work {
      font-size: 16px;
      text-align: left !important;
      width: 100%;
      margin: 1rem auto !important;
    }
  }
}
