@use "./global.scss" as *;
@use "./keyframes.scss";

.contact {
  width: 100vw;

  overflow: hidden;
  // background: cadetblue;
  padding: 4rem 0 4rem 0;
  border-radius: 2rem;
  .contact-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s;

    .contact-heading {
      // margin-left: 2rem;
      @include page-heading;
      margin: 1rem 0;
    }
    .mail {
      animation: slideToRight 2.25s;
      color: rgb(212, 212, 212);
      font-family: "Poppins-light";
      a {
        margin: 0 2px;
        font-family: "Source-italic";
        color: rgb(247, 176, 35);
      }
    }
    /* for contact form */
    .contact-form form {
      max-width: 700px;
      margin: 0 auto;
      animation: slideToTop 1.5s;
    }
    .contact-form form label {
      display: block;
      width: 100%;
      /* padding: 0 0 0 3%; */
      margin-bottom: 3%;
    }
    label input {
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 1.8em;
      width: 100%;
      /*  */
      background: transparent;
      color: #999;
      font-size: 12px;
      padding: 1rem 2.5rem;
      // border: none;
      border: 0.5px solid rgb(58, 57, 57);
      // border-bottom-color: rgba(12, 12, 12, 0.3);
      border-radius: 1rem;
    }
    label input:focus {
      outline: none;
      color: rgb(203, 203, 203);
      // border-bottom: 1px solid goldenrod;
      transition: 2s;
      // background: rgb(80, 80, 80);
    }
    //adding animation toeach input separately

    #whatsapp-btn {
      box-sizing: border-box;
      border-radius: 15px;
      padding: 1rem 1.5rem;
      border: 1px solid rgb(15, 255, 107);
      background: transparent;
      color: rgb(17, 111, 54);
      font-family: monospace;
      font-weight: 300;
    }
    #whatsapp-btn:hover {
      background: rgb(35, 211, 102);
      transition: 1s;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    // margin: 1rem;
    display: flex;
    // height: 48rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    input {
      width: 80% !important;
      padding: 0rem;
    }
    &__info,
    .phone,
    .mail {
      font-size: 14px;
      padding: 0.5rem;
    }
  }
}
