@use "./global.scss" as *;
@use "./keyframes.scss";

.contact {
  width: 100vw;

  overflow: hidden;
  // background: cadetblue;
  margin: $section-margin;
  border-radius: 2rem;
  .contact-container {
    // margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s;

    .contact-heading {
      h2 {
        @include page-heading;
        margin: 1rem 0;
      }
    }
    .mail {
      animation: slideToRight 2.25s;
      color: rgb(248, 248, 248);
      font-family: "Poppins";
      a {
        margin: 0 2px;
        color: rgb(247, 176, 35);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          background: wheat;
          height: 1px;
          width: 100%; /* Start with full width */
          transform: scaleX(0); /* Initial state: scale to 0 horizontally */
          transform-origin: bottom left; /* Transform from the bottom right corner */
          transition: transform 2s;
        }

        &:hover::before {
          transform: scaleX(1); /* Hovered state: scale to full width */
        }
      }
    }
    /* for contact form */
    .contact-form form {
      width: 55rem;
      margin: 0 auto;
      animation: slideToTop 1.5s;

      .form-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5rem;
        grid-template-areas:
          "fullname email"
          "number ."
          "message message"
          "whatsapp .";

        .fullname {
          grid-area: fullname;
        }
        .email-id {
          grid-area: email;
        }
        .phone-number {
          grid-area: number;
        }
        .msg {
          grid-area: message;
        }
        .whatsapp {
          grid-area: whatsapp;
        }
      }
    }
    .contact-form form label {
      display: block;

      margin-bottom: 1rem;
    }
    label input {
      border: unset;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 1.8em;
      width: 70%;

      background: transparent;
      color: #ececec;
      font-size: 14px;
      padding: 1rem 2.5rem;
      border: 0.5px solid rgb(255, 255, 255);

      border-radius: 1rem;
    }
    label input:focus {
      outline: none;
      color: rgb(231, 231, 231);
      // transition: 2s;
    }
    label textarea {
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 1.8em;
      width: 100%;
      box-sizing: border-box;
      background: transparent;
      color: #efefef;
      font-size: 12px;
      padding: 1rem 2.5rem;
      // border: none;
      border: 0.5px solid rgb(238, 238, 238);
      // border-bottom-color: rgba(12, 12, 12, 0.3);
      border-radius: 1rem;
      resize: none;
    }
    #whatsapp-btn {
      box-sizing: border-box;
      border-radius: 15px;
      padding: 1rem 1.5rem;
      border: 1px solid rgb(15, 255, 107);
      background: transparent;
      color: rgb(35, 203, 102);
      font-family: monospace;
      font-weight: 300;
    }
    #whatsapp-btn:hover {
      background: rgb(35, 211, 102);
      transition: 1s;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    // margin: 1rem;
    display: flex;
    // height: 48rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    .contact-form form {
      width: 100% !important;

      label {
        input {
          // width: 50%;
          padding: 1rem;
          letter-spacing: 1px;
          font-size: 10px !important;

          &:focus {
            letter-spacing: 0;
          }
        }
        textarea {
          font-size: 10px;
          padding: 1rem;
        }
      }
    }
    input {
      width: 80% !important;
      padding: 0rem;
    }
    &__info,
    .phone,
    .mail {
      font-size: 14px;
      padding: 0.5rem;
    }
  }
}
