@use "./global.scss" as *;
footer {
  padding: 1rem;
  font-weight: bold;
  background-color: rgba(9, 9, 9, 0.7); /* Red with 70% transparency */
  font-family: "Poppins-light";
  position: fixed;
  bottom: 0;
  width: 100%;
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $text-wood;

    .copyright {
      p {
        letter-spacing: 1px;

        font-size: 14px;
      }
    }
  }

  .social-profiles {
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: transform ease;

    a {
      color: $text-wood;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
//phone screen

@media screen and (max-width: 768px) {
  footer {
    padding: 1.6rem 0;
  }
}
