@use "./global.scss" as *;
footer {
  padding: 1rem 1rem;
  font-weight: bold;
  background: $bg-blue;
  box-shadow: $text-shadow;
  position: fixed;
  bottom: 0;
  width: 100vw;
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    // @media screen and (max-width: 678px) {
    //   flex-direction: column;
    // }
  }

  .social-profiles {
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: transform ease;

    a {
      color: black;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
//phone screen

@media screen and (max-width: 768px) {
  footer {
    padding: 0;
    position: initial;
    .footer-container {
      flex-direction: column;
    }
  }
}
