@use "./global.scss" as *;
footer {
  // display: none;
  padding: 1rem;
  font-weight: bold;
  background: black;
  font-family: "Poppins-light";
  box-shadow: $text-shadow;
  position: fixed;
  bottom: 0;
  width: 100vw;
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .copyright {
      p {
        letter-spacing: 1px;
        color: seashell;
        font-size: 10px;
      }
    }
  }

  .social-profiles {
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: transform ease;

    a {
      color: wheat;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
//phone screen

@media screen and (max-width: 768px) {
  footer {
    padding: 1.6rem;
  }
}
