$text-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
$bg-blue: #f6ffff;
$bg-white: #ffffff;
$highlight: rgb(19, 141, 141);
@mixin about {
  margin: 4rem 0 0 0;
  border-radius: 1rem;
  height: 20rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
