@font-face {
  font-family: "Poppins-light";
  src: url("../../public/Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "Poppins-bold";
  src: url("../../public/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/Poppins/Poppins-Regular.ttf");
}
$text-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
$bg-blue: #f6ffff;
$bg-black: #042a2a;
$bg-white: #ffffff;
$highlight: rgb(29, 149, 149);
$text-blue: rgb(39, 172, 108);
$text-floralwhite: floralwhite;
$text-grey: rgb(233 233 233);
$text-wood: rgb(253, 219, 154);

$section-margin: 6rem 0;

@mixin about {
  margin: 3rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}
@mixin page-heading {
  letter-spacing: 5px;

  font-size: 50px;
  font-family: "Poppins-bold";
  animation: adjustSpacing 1.25s, slideToRight 1.5s;
  color: #ffffff;
  margin: 1rem auto;

  @media screen and (max-width: 768px) {
    animation: slideToRight 1.5s;
  }
}
body {
  line-height: 1.6;
  font-family: "Poppins";
  background: black;
}
a {
  text-decoration: none;
}

:root {
  width: max-content;
  height: max-content;
}

h2 {
  font-size: 30px;
}
