@use "./global.scss" as *;
.home {
  padding-top: 5rem;

  width: 100vw; //width 100vw for home
  display: grid;
  justify-content: center;
  position: relative;
  z-index: 1;
  grid-template-columns: auto auto;
  gap: 4rem;
  // &::before {
  //   content: "";
  //   height: 100vh;
  //   width: 100vw;
  //   color: rgba(113, 113, 113, 0.07);
  //   position: fixed;
  //   z-index: -1;
  //   background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 94px
  //       90px,
  //     linear-gradient(to right, currentcolor 1px, transparent 1px) transparent;
  //   transition: all 0.5s linear 0s;
  // }

  // &::after {
  //   background-image: radial-gradient(
  //       at 40% 40%,
  //       rgb(112, 201, 245) 50px,
  //       rgb(46, 125, 149) 50%
  //     ),
  //     radial-gradient(at 90% 10%, rgb(255, 230, 243) 0px, transparent 50%),
  //     radial-gradient(at 50% 95%, rgb(43, 255, 255) 0px, transparent 50%),
  //     radial-gradient(at 20% 30%, rgb(138, 245, 138) 0px, transparent 50%),
  //     radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%),
  //     radial-gradient(at 33% 50%, rgb(246, 142, 98) 0px, transparent 50%),
  //     radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);

  //   position: fixed;
  //   content: "";
  //   z-index: -1;
  //   width: 100%;
  //   height: 100%;
  //   filter: blur(100px) saturate(100%);
  //   top: 0px;
  //   opacity: 0.1;
  //   transform: translateZ(0px);
  // }
  &__text {
    // margin-left: 5%;
    width: 30rem;
    display: grid;
    grid-template-rows: auto auto auto;

    color: antiquewhite;
    h1 {
      margin: 0;
      padding: 0;
      // text-align: center;

      span {
        color: #0e72a5;
        position: relative;
        font-family: "Caveat";
        font-weight: 800;

        letter-spacing: 1px;
      }
    }
  }
  &__pic {
    // width: 50%;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    animation: morph 2s ease-in-out infinite;
    background: url("../../public/bg-2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
    width: 20rem;
    @media screen and (max-width: 768px) {
    }
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 0;
    margin: 3rem 0 1rem 0;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    &__text {
      margin: 0 auto;
      width: 100%;
    }

    &__pic {
      margin: 2rem auto 0 auto;
      width: 20rem;
      height: 20rem;
    }
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
