@use "./global.scss" as *;
@use "./keyframes.scss";
.home {
  padding-top: 5rem;

  width: 100vw; //width 100vw for home
  display: grid;
  justify-content: center;
  position: relative;
  // z-index: 1;
  grid-template-columns: auto auto;
  gap: 4rem;
  animation: fadeIn 2s;

  &::after {
    content: "";
    width: 60%;
    position: absolute;
    left: 20%;
    bottom: -10%;

    height: 0.5px;
    background: rgb(71, 71, 71);
  }
  &__text {
    width: 30rem;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    color: $text-grey;

    // text-align: center;

    h1 {
      margin: 0;
      padding: 0;
      animation: slideToTop 1.5s;
      font-size: 26px;
      position: relative;
      // animation: adjustSpacingSmall 5s alternate ease-out;
      letter-spacing: 15px;
      // // &::after {
      // //   content: " Dehradun based frontend developer";
      // //   color: grey;
      // //   font-size: 12px;
      // //   text-transform: uppercase;
      // //   margin-left: 25%;
      // }

      span {
        color: $text-floralwhite;
        font-family: "Source-bold";
        // letter-spacing: 1px;
        word-spacing: 1.5px;
        font-size: 54px;
        text-transform: uppercase;
        line-height: 1;
      }
    }
    p {
      color: rgb(229, 229, 229);
      margin: 0;
      font-family: "Poppins-light";
      font-size: 12px;
      letter-spacing: 1.75px;
      word-spacing: 1px;
      animation: slideToTop 2s;
      line-height: 1.6;
      // text-shadow: 0.6px 0.5px 3px cadetblue;
    }
  }
  &__pic {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    animation: morph 2s ease-in-out infinite, slideToLeft 2s;
    background: url("../../public/bg-2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
    width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 0;
    margin: 1rem 0 1rem 0;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    &::after {
      bottom: -5%;
    }

    &__text {
      gap: 0.5rem;
      h1 {
        span {
          letter-spacing: 3px;
          font-size: 32px;
        }
      }
      p {
        // width: 85%;
        margin: 0.5rem auto;
        font-size: 10px;
        width: 80%;
        img {
          width: 90%;
          margin: 10px 0 0;
        }
      }
    }

    &__pic {
      margin: 3rem auto 0 auto;
      width: 15rem;
      height: 15rem;
    }
  }
}
