@use "./global.scss" as *;
@use "./keyframes.scss";
.home {
  padding-top: 5rem;

  width: 100vw; //width 100vw for home
  display: grid;
  justify-content: center;
  position: relative;
  // z-index: 1;
  grid-template-columns: auto auto;
  gap: 4rem;
  animation: fadeIn 2s;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: -20%;

    height: 1px;
    background: wheat;
  }
  &__text {
    width: 30rem;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 3rem;
    color: $text-grey;

    // text-align: center;

    h1 {
      margin: 0;
      padding: 0;
      animation: bigToSmall 1.5s;
      font-size: 26px;

      .name {
        color: $text-blue;
        font-family: "Caveat";
        letter-spacing: 1px;
        word-spacing: 1px;
        font-size: 53.5px;
      }
    }
    p {
      margin: 0;
      font-family: "Helvetica";
      font-size: 16px;
      letter-spacing: 0.45px;
      // word-spacing: 1.5px;
      animation: slideToTop 2s;
      line-height: 1.6;
      // text-shadow: 0.6px 0.5px 3px cadetblue;
    }
    p.language-icons {
      // display: flex;
      // justify-content: center;
    }
  }
  &__pic {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    animation: morph 2s ease-in-out infinite, slideToLeft 2s;
    background: url("../../public/bg-2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
    width: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 0;
    margin: 1rem 0 1rem 0;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;

    &::after {
      bottom: -5%;
    }

    &__text {
      // margin: 0 auto;

      gap: 0.5rem;
      h1 {
        font-size: 20px;

        .name {
          font-size: 35px;
        }
      }
      p {
        // width: 85%;
        margin: 0.5rem auto;
        font-size: 14px;
        img {
          width: 90%;
          margin: 10px 0 0;
        }
      }
    }

    &__pic {
      margin: 3rem auto 0 auto;
      width: 15rem;
      height: 15rem;
    }
  }
}
