@use "./global.scss" as *;

nav {
  background: transparent;
  font-size: 1rem;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-around;

  background: black;

  .logo {
    position: relative;
    a {
      text-decoration: none;
    }
    h2 {
      font-family: monospace;
      text-transform: uppercase;

      color: wheat;
      z-index: 111;
      text-transform: uppercase;
      letter-spacing: 2px;

      &::before {
        content: "DIVYANSHU NAUDIYAL";
        position: absolute;
        left: -1px;
        animation: 2s linear 4s infinite alternate-reverse none running
          noise-anim-2;
        color: rgb(255, 0, 140);
        z-index: -1;
        width: 100%;
      }
      &::after {
        content: "DIVYANSHU NAUDIYAL";
        position: absolute;
        right: 1px;
        left: 0px;
        width: 100%;
        height: 100%;
        text-shadow: rgb(53, 170, 164) 3px 0px;
        animation: 8s linear 0s infinite alternate-reverse none running
          noise-anim;
        // z-index: -2;
      }
    }
  }
  .links,
  ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2.5rem;
    list-style-type: none;
    li {
      a {
        color: wheat;

        position: relative;

        &::after {
          content: "";
          width: 0;
          height: 2px;
          position: absolute;
          top: 30px;
          left: 0;
          background: wheat;
        }
        &:hover::after {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          top: 30px;
          left: 0;
          background: wheat;
          transition: 1s;
        }
      }
    }
  }
  .toggle-btn {
    display: none;
  }
  .toggle-container {
    // opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100vw;

    text-align: center;
    font-size: 1rem;
    height: 8%;
    align-items: center;

    .logo {
      h2 {
        font-size: 20px;
        margin: 0;
        padding: 2px 0;
      }
    }
    .links {
      display: none;
      a:hover {
        transform: scale(1.2);
      }
    }

    button {
      border: none;
      background: transparent;
      &:hover {
        outline: none;
      }
    }
    .toggle-btn {
      display: block !important;
      color: wheat;

      &:focus {
        outline: none;
      }
    }
    .toggle-container {
      // opacity: 1;
      width: 100vw;
      position: absolute;
      top: 4rem !important;
      height: 100vh;
      background: beige;
      transition: opacity 1s;

      ul {
        // height: 100%;
        grid-template-columns: auto;
        li {
          a {
            color: black;
          }
        }
      }
    }
  }
}

.hidden {
  opacity: 0;
}
.show {
  opacity: 1;
}
