@use "./global.scss" as *;

.project {
  margin: 8rem auto;

  animation: fadeIn 2s;

  overflow: hidden;

  .project-container {
    .project-heading {
      @include page-heading;
      text-align: center;
    }
    & .project-img {
      //contains image and text
      position: relative;
    }
    &__project1,
    &__project2 {
      display: grid;
      grid-template-columns: auto;
      justify-items: center;
      align-items: center;
      @include about;

      .project-text {
        width: 50%;

        text-align: center;
        color: white;
        background: transparent;
        font-family: "Caveat-bold";
        display: grid; //for styling project heading and languages
        grid-template-columns: auto auto;

        .languages {
          display: grid;
          grid-template-columns: auto auto;
          gap: 1rem;
          align-items: center;

          & > div {
            background: rgb(90, 90, 90);
            border-radius: 10px;
          }
        }
      }
    }

    &__project1 {
      .project-img {
        border-radius: 1rem;
        box-shadow: $text-shadow;
        width: 50%;
        height: 20rem;
        overflow: hidden;
        img {
          width: 100%;
          transform: translateY(0);
        }

        img:hover {
          transform: translateY(-83%);
          transition: transform 5s ease-in-out;
          scroll-margin-top: 83%; /* Adjust this value based on your layout */
        }
      }
      .project-info {
        display: none;
        width: 50%;
      }
    }
    &__project2 {
      .project-text .languages {
        grid-template-columns: auto auto auto; //languages used in recipe project
      }
      .project-img {
        border-radius: 1rem;
        box-shadow: $text-shadow;
        width: 50%;
        overflow: hidden;
        video {
          width: 100%; //video in recipe project
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 100vw;
    font-size: 40%;
    margin: 3rem auto;
    .project-container {
      &__project1 {
        margin: 0;
        padding: 0;
        padding-top: 2rem;
        flex-direction: column;

        .project-img {
          width: 90%;
          height: 15rem;
        }
      }
      &__project2 {
        margin: 3rem 0 0 0;
        padding: 0;

        .project-img {
          width: 90%;
        }
      }
    }
  }
}
