@use "./global.scss" as *;

.project {
  margin: $section-margin;
  animation: fadeIn 2s;
  overflow: hidden;

  .project-container {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;

    .project-heading {
      @include page-heading;
      margin-left: 25%;
      width: 100%;
    }
    & .project-img {
      position: relative;
    }
    &__project1,
    &__project2 {
      display: grid;
      grid-template-columns: auto;
      justify-items: center;
      align-items: center;
      @include about;

      .project-text {
        width: 50%;
        color: rgb(217, 217, 217);
        background: transparent;
        font-family: "Poppins";
        display: grid; //for styling project heading and languages
        grid-template-columns: auto auto;

        h1 {
          font-size: 1.75rem;
        }

        .languages {
          display: grid;
          grid-template-columns: auto auto;
          gap: 1rem;
          align-items: center;
          font-size: 12px;

          & > div {
            text-align: center;
            background: rgb(28, 28, 28);
            border-radius: 10px;
            padding: 0.5rem;
          }
        }
      }
    }

    &__project1 {
      animation: slideToTop 1s;
      .project-img {
        border-radius: 1rem;
        box-shadow: $text-shadow;
        width: 50%;
        height: 20rem;
        overflow: hidden;
        img {
          width: 100%;
          transform: translateY(0);
        }

        img:hover {
          transform: translateY(-83%);
          transition: transform 5s ease-in-out;
          scroll-margin-top: 83%; /* Adjust this value based on your layout */
        }
      }
      .project-info {
        display: none;
        width: 50%;
      }
    }
    &__project2 {
      .project-text .languages {
        grid-template-columns: auto auto auto; //languages used in recipe project
      }
      .project-img {
        border-radius: 1rem;
        box-shadow: $text-shadow;
        width: 50%;
        overflow: hidden;
        video {
          width: 100%; //video in recipe project
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 100vw;
    font-size: 40%;
    margin: 4rem auto;
    .project-container {
      &__project1,
      &__project2 {
        .project-text {
          // grid-template-columns: auto;
          width: 90%;

          h1 {
            font-size: 1.25rem;
          }
          .languages {
            gap: 0px !important;
          }
        }
      }
      .project-heading {
        // margin-left: 5%;
        margin-left: 0 !important;
        text-align: center;
      }
      &__project1 {
        margin: 0;
        padding: 0;
        padding-top: 2rem;
        flex-direction: column;

        .project-img {
          width: 90%;
          height: 15rem;
        }
      }
      &__project2 {
        margin: 3rem 0;
        padding: 0;

        .project-img {
          width: 90%;
        }
      }
    }
  }
}
