@use "./global.scss" as *;
.project {
  //   padding: 10rem 1rem 7rem 1rem;
  font-size: 62.5%;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  //   width: 100%;
  text-align: center;
  justify-content: center;

  .project-container {
    span {
      color: #23621c;
    }
    padding: 10rem;
    position: relative;
    &__project1 {
      @include about;
      height: 20rem;
      .project-img {
        border-radius: 1rem;
        box-shadow: $text-shadow;
        width: 50%;
        height: 20rem;
        overflow: hidden;
        img {
          width: 100%;
          transform: translateY(0);
        }

        img:hover {
          transform: translateY(-83%);
          transition: transform 5s ease-in-out;
          scroll-margin-top: 83%; /* Adjust this value based on your layout */
        }
      }
      .project-info {
        width: 50%;
      }
    }
    &__project2 {
      @include about;

      video {
        border-radius: 1rem;
        box-shadow: $text-shadow;
        width: 45rem;
        height: 20rem;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 100vw;
    font-size: 50%;

    .project-container {
      padding: 10rem 0 0 0;
      h1 {
        font-size: 1.5rem;
      }

      &__project1 {
        margin: 0;
        padding: 0;
        padding-top: 2rem;
        flex-direction: column;
        .project-img {
          // border-radius: 0;
          width: 90%;
          height: initial;
        }
        .project-info {
          width: 45%;

          h1 {
            color: rgb(0, 106, 118);
          }
        }
      }

      &__project2 {
        margin: 3rem 0 0 0;
        padding: 0;
        // padding-top: 2rem;

        flex-direction: column;

        .project-info {
          width: 45%;

          h1 {
            color: rgb(0, 106, 118);
          }
        }

        video {
          width: 90%;
        }
      }
    }
  }
}
