@import "./styles/navbar.scss";
@import "./styles/Home.scss";
@import "./styles/footer.scss";
@import "./styles/about.scss";
@import "./styles/project.scss";
@import "./styles/contact.scss";
@import "./styles/keyframes.scss";
@import "./styles/animation-classes.scss";

.cursor {
  background-color: cadetblue;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999 !important;
}

@media screen and (max-width: 768px) {
  * {
    cursor: initial;
  }
  .cursor {
    display: none;
  }
}
