@import "./styles/navbar.scss";
@import "./styles/Home.scss";
@import "./styles/footer.scss";
@import "./styles/about.scss";
@import "./styles/project.scss";
@import "./styles/contact.scss";

* {
  cursor: none;
}
.cursor {
  background-color: cadetblue;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
